@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
    --font-color: #333;
    --font-color-low-emphasis: #cccccc;
    --color1: #333; 
    --color2: #222; 
    --color3: #242629;
    --color4: #f33e7b; 
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 15px;
    font-family: "Lexend", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}

/* CONFIGURAÇÕES GERAIS */

main {
    min-height: 100vh;
    width: 100%;
}

.login-bg {
    padding: 5% 10%;
    min-height: 100vh;
    background: var(--color3);
}

.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 48px;
    font-weight: bold;
    color: white;
    text-align: center;
}

.subtitle {
    font-style: italic;
    font-weight: 300;
    padding: 7.5px;
    color: var(--font-color-low-emphasis);
    text-align: center;
}

.login-actions button {
    cursor: pointer;
    margin-top: 50px;
    background: var(--color4);
    color: white;
    max-width: 500px;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
}

.change-form {
    padding: 65px;
    color: white;
}

.icons-container {
    margin-top: 25px;
    max-width: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.icons-container div {
    cursor: pointer;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    border-radius: 50%;
    padding: 7.5px;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
}

.icons-container div:hover {
    background: white;
    color: var(--color3);
}

.login-form {
    width: 100%;
    max-width: 500px;
}

.form-label {
    color: white;
    font-size: 17.5px;
}

.form-input {
    color: var(--font-color-low-emphasis);
    margin-bottom: 15px;
    margin-top: 5px;
    width: 100%;
    outline: 0;
    padding: 15px;
    background: #222;
    border-radius: 7.5px;
}

.forgot-password {
    margin-top: 15px;
    color: var(--font-color-low-emphasis);
    text-decoration: underline;
    text-underline-offset: 3px;
    font-style: italic;
    font-size: 14px;
}

@media (max-width: 750px) {

    .login-container, 
    .icons-container,
    .login-form,
    .login-actions button {
        max-width: 350px;
    }

    .login-image {
        height: 350px;
        width: 350px;
    }
}