@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
    --font-color: #333;
    --font-color-low-emphasis: #cccccc;
    --color1: #333;
    --color2: #222;
    --color3: #242629;
    --color4: #f33e7b;
    --color5: #111;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 15px;
    font-family: "Lexend", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}

.loader {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-padding {
    padding: 0 !important;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.icon-cursor {
    cursor: pointer;
}

/* CONFIGURAÇÕES GERAIS */

main {
    min-height: 100vh;
    width: 100%;
}

.bg {
    padding: 5% 10%;
    min-height: 100vh;
    background: var(--color3);
}

.bg-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 48px;
    font-weight: bold;
    color: white;
    text-align: center;
}

.subtitle {
    font-style: italic;
    font-weight: 300;
    padding: 7.5px;
    color: var(--font-color-low-emphasis);
    text-align: center;
}

.login-actions button {
    animation: gradiente 5s ease-in-out alternate infinite;
    cursor: pointer;
    margin-top: 50px;
    background: linear-gradient(-45deg, #9b1a45, #f33e7b, #f55f91, #c75d81);
    background-size: 300% 300%;
    color: white;
    max-width: 500px;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
}

.change-form {
    padding: 40px;
    color: white;
}

.icons-container {
    margin-top: 65px;
    max-width: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.icons-container div {
    cursor: pointer;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    border-radius: 50%;
    padding: 7.5px;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
}

.icons-container div:hover {
    background: white;
    color: var(--color3);
}

.login-form {
    width: 100%;
    max-width: 500px;
}

.form-label {
    color: white;
    font-size: 17.5px;
}

.form-input {
    color: var(--font-color-low-emphasis);
    margin-bottom: 15px;
    margin-top: 5px;
    width: 100%;
    outline: 0;
    padding: 15px;
    background: #222;
    border-radius: 7.5px;
}

.forgot-password {
    max-width: 500px;
    padding: 15px;
    color: var(--font-color-low-emphasis);
    text-decoration: underline;
    text-underline-offset: 3px;
    font-style: italic;
    font-size: 14px;
    width: 100%;
    text-align: right;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
    cursor: pointer;
}

.forgot-password:hover {
    color: white;
}

.links-login-register {
    max-width: 500px;
    width: 100%;
}

.link-login {
    padding: 15px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--font-color-low-emphasis);
    text-decoration: none;
    gap: 5px;
    font-weight: 300;
}

.link-login span {
    color: white;
}

.login-image {
    margin-bottom: 50px;
}

/* MAIN HOME CONFIG */

.bg-main {
    display: flex;
}

.page-chat {
    display: flex;
}

/* SIDEBAR */

.sidebar-container {
    padding: 37.5px;
    color: white;
    width: 500px;
    height: 100%;
    border-right: 1px solid rgba(255, 255, 255, 0.075);
}

/* NAVBAR CONFIG */

.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: var(--color2);
    min-height: 100vh;
    width: 90px;
    padding: 50px 15px;
}

.avatar-container {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    cursor: pointer;
}

.avatar {
    border-radius: 50%;
}

.online {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    margin-left: -15px;
    background: #7dfc84;
}

.offline {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    margin-left: -15px;
    background: #333;
}

.actions-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.new {
    cursor: pointer;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    /* background: linear-gradient(-45deg, #9b1a45, #f33e7b, #f55f91, #c75d81); */
}

.sign-out-icon button {
    cursor: pointer;
    background: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    color: white;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
}

.sign-out-icon button:hover {
    background: var(--color1);
}

.profile-letter {
    font-size: 22.5px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    color: white;
    text-transform: uppercase;
}

.color-menu {
    padding: 15px;
    background: var(--color2);
    border-radius: 10px;
    margin-left: 90px;
    margin-top: -55px;
    position: absolute;
    z-index: 999;
    width: 350px;
    min-height: 250px;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
}

.top-color-menu {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-color-menu h3 {
    width: 100%;
    text-align: center;
    color: white;
    font-weight: 400;
}

.cancel-color-menu {
    cursor: pointer;
}

.bottom-color-menu {
    margin-top: 35px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 25px;
}

.color {
    color: white;
    cursor: pointer;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
}

.color:hover {
    transform: scale(1.1);
}

.send-photo {
    color: white;
}

.send-photo label {
    width: 50px;
    height: 50px;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
}

.send-photo label:hover {
    background: var(--color3);
}

.remove-photo {
    color: white;
    width: 50px;
    height: 50px;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
}

.remove-photo:hover {
    background: var(--color3);
}

.photo-actions {
    margin-top: 25px;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* POPUP CONFIG */

.popup-wrapper {
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
}

.glass-effect-popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    box-shadow: 0 0px 32px 0 rgba(31, 38, 135, 0.37);
}

.popup-wrapper-normal {
    max-width: 575px;
    min-height: 750px;
    width: 100%;
    padding: 35px;
    border-radius: 10px;
    background: var(--color3);
    color: white;
}

.top-popup-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 35px;
}

.top-popup-wrapper h1 {
    width: 100%;
    font-size: 22.5px;
    text-align: center;
}

.users-popup-container {
    display: flex;
    flex-direction: column;
}

.add-friend-container {
    cursor: pointer;
    width: 100%;
    display: flex;
    gap: 17.5px;
    padding: 15px;
    border-radius: 10px;
    transition-timing-function: ease-in-out;
    transition-duration: 0.05s;
}

.add-friend-container:hover {
    background: var(--color1);
}

.right-add-friend h3 {
    margin-bottom: 2.5px;
    font-size: 18.5px;
}

.right-add-friend p {
    font-weight: 300;
    font-size: 13px;
}

.search-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.search-input {
    width: 100%;
}

.flex-search {
    display: flex;
    gap: 10px;
}

.popup-input {
    color: white;
    width: 100%;
    padding-bottom: 5px;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}

.search-container {
    padding: 25px;
}

.searched-friend {
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
    padding: 40px 0px 35px 0px;
    display: flex;
    gap: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}

/* CHAT */

.chat-container {
    padding: 35px;
    color: white;
}

.search-chat {
    width: 100%;
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.search-chat-input {
    outline: 0;
    background: var(--color2);
    padding: 12.5px;
    border-radius: 10px;
    width: 100%;
    color: var(--font-color-low-emphasis);
}

.chat-option-item {
    list-style: none;
}

/* ANIMAÇÕES */

@keyframes gradiente {
    from {
        background-position: 0 50%;
    }

    to {
        background-position: 100% 50%;
    }
}

/* RESPONSIVIDADE */

@media (max-width: 750px) {

    .login-container,
    .icons-container,
    .login-form,
    .login-actions button {
        max-width: 350px;
    }

    .login-image {
        height: 350px;
        width: 350px;
    }
}